.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background: #25B8E7;
    color: #fff;
}

.wrapper a {
    color: #fff;
    text-decoration: none;
}